# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio
/vsproj/**/x64
/vsproj/.vs
*.vcxproj.user
/Src/Examples/LedOnOff/tsmlib
/Src/TemplateStateMachine/tsmlib
/Src/UnitTests/tsmlib
